In [1]:
import pandas as pd
import category_encoders
from sklearn import dummy

from forml import project
from forml.lib.pipeline import debug, topology

Titanic on ForML Tutorial
=========================

ForML framework allows to implement a ML solution using formalized project components and it's structured description. This is great for any project lifecycle management but less suitable for any exploratory type of work typical for Jupyter notebooks. In this tutorial we will demonstrate the ForML-jupyter interoperability showing it's features by examples.

Quick Start
-----------
Let's start with the quick run of the defined Titanic implementation as per the standard project structure within the `../src` directory tree. This approach assumes the project is already implemented and we just want to execute some of its modes from Jupyter. Later in the following section we will also demonstrate how to use ForML for more exploratory work when the formal project structure might not exist yet.

The easiest way is to get the project handle using the `project.Artifact` class pointed to the project implementation:

In [2]:
PROJECT = project.open(path='..', package='titanic')

Now we have the project handle so we can easily execute it's particular mode using it's `.launcher` property. It can optionally be parametrized with a specific runner implementation passed as an item to the launcher property. Finally the method called on the launcher object triggers the project mode execution.

Let's execute the `train` mode on the `graphviz` runner to render the flow graph vizualization that you can see displayed bellow:

In [3]:
PROJECT.launcher['graphviz'].train()

![](forml.dot.png)

Now lets run the `train` mode again but on the `dask` executor this time followed by executing the `apply` (predict) mode. Dask is the default runner so we don't need (but we can) to specify it explicitly:

In [4]:
PROJECT.launcher.train()
predictions = PROJECT.launcher['dask'].apply()
predictions[:10]

WARNING: 2021-10-11 01:12:33,248: warnings: /home/amayi/home/project/forml/.venv/lib/python3.9/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

array([0.3806418 , 0.38893813, 0.38618584, 0.38813036, 0.38132258,
       0.38047687, 0.38233119, 0.38087779, 0.38687783, 0.38926058])

Or we can run the `eval` mode to get the crossvalidation evaluation metric as per the project implementation:

In [5]:
PROJECT.launcher.eval()

WARNING: 2021-10-11 01:12:54,839: warnings: /home/amayi/home/project/forml/.venv/lib/python3.9/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

WARNING: 2021-10-11 01:12:55,527: warnings: /home/amayi/home/project/forml/.venv/lib/python3.9/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

0.6495329775069851

Exploration with ForML on Jupyter
-----------------------------------

Despite being strongly oriented on the formalized project structure, ForML also allows to engage snippets of code defined outside of any project and executing them within a pipeline. This is especially useful for the Jupyter style of work. It can even mix the two approaches - resuing some of the formal project components while supplying others inline.

Let's demonstrate this features by running the original `source` component (`../src/titanic/source`) through set of custom inline operators.

We start with reusing the `source` component from the actual project and running it through a dummy pipline with just the `Return` operator:

In [6]:
SOURCE = PROJECT.descriptor.source
PIPELINE = debug.Return()
SOURCE.bind(PIPELINE).launcher.apply().head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

Let's now define custom stateless transformer operator for extracting a title from a name and use it in the pipeline exploring its output:

In [7]:
@topology.Mapper.operator
@topology.Function.actor
def parse_title(df: pd.DataFrame, source: str, target: str) -> pd.DataFrame:
    """Transformer extracting a person's title from the name string implemented as wrapped stateless function.
    """
    def get_title(name: str) -> str:
        """Auxiliary method for extracting the title.
        """
        if '.' in name:
            return name.split(',')[1].split('.')[0].strip()
        return 'Unknown'

    df[target] = df[source].map(get_title)
    return df

PIPELINE = parse_title(source='Name', target='Title')
SOURCE.bind(PIPELINE).launcher.apply().head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S,Mr
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S,Miss
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S,Mr

Let's now attach a `HashingEncoder` (stateful operator) to the pipeline and run it again, this time using the `graphviz` runner to display the runtime graph:

In [8]:
ENCODER = topology.Mapper.operator(topology.Class.actor(category_encoders.HashingEncoder, train='fit', apply='transform'))
PIPELINE >>= ENCODER(cols=['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Title'])
SOURCE.bind(PIPELINE).launcher['graphviz'].train()

![](forml.dot.png)

Finally we add a `DummyClassifier` estimator and run the `train` mode followed by `apply` mode to generate the predictions:

In [10]:
DUMMY = topology.Consumer.operator(topology.Class.actor(dummy.DummyClassifier, train='fit', apply='predict_proba'))
PIPELINE >>= DUMMY()
SOURCE.bind(PIPELINE).launcher.train()
predictions = SOURCE.bind(PIPELINE).launcher.apply()
predictions[:10]

WARNING: 2021-10-11 01:14:14,119: warnings: /home/amayi/home/project/forml/.venv/lib/python3.9/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

array([[0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838],
       [0.61616162, 0.38383838]])